services:
  goviesdezeproxyrewrite:
    build: .
    image: ghcr.io/viespirkiu-grupe/goviesdezeproxyrewrite:v0.0.2
    container_name: goviesdezeproxyrewrite
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - 4000:4000
