PROXY_PORT=4000
MAIN_SERVER=http://localhost:3000
PROXY_API_KEY=super-secret
PDF_WORKERS_DOC_COUNT=4
PDF_WORKERS_IMG_COUNT=4
PDF_CONVERT_TIMEOUT=15
PROXY_UPSTREAM_DIAL_TIMEOUT=10
PROXY_UPSTREAM_RESPONSE_HEADER_TIMEOUT=30
